/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-indigo: #2c3e50;
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-dark-1: var(--vt-c-white);

  --navbar-background-color-dark: #232323;
  --navbar-background-color-light: #fafafa;

  --navbar-text-color-neutral: #686868;
  --navbar-text-color-hover-neutral: #d0d0d0;
  --navbar-text-color-active-light: #2d75dc;
  --navbar-text-color-active-dark: #81acec;
  --navbar-more-menu-background-dark: #232323;
  --navbar-more-menu-background-light: #fafafa;

  --searchbar-search-input-background-light: #fafafa;
  --searchbar-search-input-hover-background-light: #f6f6f6;
  --searchbar-search-input-light: #4a4a4a;
  --searchbar-search-input-dark: #e3e3e3;
  --searchbar-result-item-light: #323232;
  --searchbar-result-item-hover-light: #c8c8c8;

  --searchbar-search-input-background-dark: #383838;
  --searchbar-search-input-hover-background-dark: #505050;
}

/* semantic color variables for this project */
html[data-theme='dark'] {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-text-dark-1);
  --navbar-background-color: var(--navbar-background-color-dark);
  --navbar-text-color: var(--navbar-text-color-neutral);
  --navbar-text-color-hover: var(--navbar-text-color-hover-neutral);
  --navbar-text-color-active: var(--navbar-text-color-active-dark);
  --navbar-more-menu-background-color: var(--navbar-more-menu-background-dark);
  --searchbar-search-input-background-color: var(--searchbar-search-input-background-dark);
  --searchbar-search-input-hover-background-color: var(--searchbar-search-input-hover-background-dark);
  --searchbar-search-input-color: var(--searchbar-search-input-dark);
  --searchbar-result-item-color: var(--searchbar-result-item-light);
  --searchbar-result-item-color-hover: var(--searchbar-result-item-hover-light);
}

html[data-theme='light'] {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);
  --navbar-background-color: var(--navbar-background-color-light);
  --navbar-text-color: var(--navbar-text-color-neutral);
  --navbar-text-color-hover: var(--navbar-text-color-hover-neutral);
  --navbar-text-color-active: var(--navbar-text-color-active-light);
  --navbar-more-menu-background-color: var(--navbar-more-menu-background-light);
  --searchbar-search-input-background-color: var(--searchbar-search-input-background-light);
  --searchbar-search-input-hover-background-color: var(--searchbar-search-input-hover-background-light);
  --searchbar-search-input-color: var(--searchbar-search-input-light);
  --searchbar-result-item-color: var(--searchbar-result-item-light);
  --searchbar-result-item-color-hover: var(--searchbar-result-item-hover-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
