:root {
  --background-color: #232323;
  --text-color: white;
  --navbar-background-color: #232323;
  --navbar-text-color: white;
  --navbar-menu-li-a-active-link-color: #81acec;
  --navbar-menu-active-link-color: #81acec;
  --navbar-menu-active-link-border-bottom: #81acec;
  --navbar-more-menu-background-color: #232323;
  --info-item-title-color: #d9d9d9;
  --info-item-search-results-color: #d9d9d9;
  --info-item-site-shortname-color: #fff;
  --info-item-site-url-color: #d2d2d2;
  --info-item-site-name-color: #81acec;
  --question-title-color: #d2d2d2;
  --question-title-border-bottom: #5a5a5a;
  --question-title-h1-color: #d2d2d2;
  --question-answer-color: #e5e5e5;
  --question-fas-background-color: #2d2c32;
  --question-fas-color: #d2d2d2;
  --question-fas-hover-background-color: #39383f;
  --question-fas-hover-color: #ebebeb;
  --question-answer-a-color: #81acec;
  --question-answer-a-hover-color: #9fbeee;
  --searchbar-search-input-background-color: #383838;
  --searchbar-search-input-color: #fff;
  --searchbar-search-input-hover-background-color: #505050;
  --searchbar-result-item-color: #dddddd;
  --footer-background-color: #181818;
  --footer-color: #fff;
  --footer-link-color: #81acec;
  --tech-carrousel-background-color: #232323;
  --tech-carrousel-border-bottom: #5a5a5a;
  --tech-carrousel-container-background-left: rgba(35, 35, 35, 1);
  --tech-carrousel-container-background-right: rgba(35, 35, 35, 0);
  --tech-carrousel-scroll-button-color: #fff;
  --tech-carrousel-scroll-button-hover-background-color: #3e3f42ae;
  --image-item-image-container-background-color: #2a2a2e;
  --image-item-description-color: #c0c0c0;
  --image-item-selected-background-color: rgba(51, 78, 107, 0.511);
  --image-modal-background-color: #232323;
  --image-modal-close-background-color: #232323;
  --image-modal-close-hover-background-color: #2e2e2e;
  --image-modal-title-color: white;
  --image-modal-description-color: rgb(218, 218, 218);
  --image-modal-button-share-save-color: rgb(218, 218, 218);
  --image-modal-button-share-save-background-color: rgb(53, 62, 83);
  --image-modal-button-share-save-hover-background-color: rgb(63, 72, 93);
  --image-modal-category-background-color: #2e2e2e;
  --project-item-project-details-h3-color: #81acec;
  --project-item-project-description-color: #c5c3c3;
  --project-item-project-category-background-color: #2e2e2e;
  --conact-item-contact-details-h3-color: #81acec;
  --contact-item-contact-description-color: #c5c3c3;
  --contact-item-contact-site-color: #c5c3c3;
}

[data-theme='light'] {
  --background-color: white;
  --text-color: black;
  --navbar-background-color: white;
  --navbar-text-color: black;
  --navbar-menu-li-a-active-link-color: black;
  --navbar-menu-active-link-color: black;
  --navbar-menu-active-link-border-bottom: black;
  --navbar-more-menu-background-color: white;
  --info-item-title-color: black;
  --info-item-search-results-color: black;
  --info-item-site-shortname-color: black;
  --info-item-site-url-color: #717171;
  --info-item-site-name-color: #3378e1;
  --question-title-color: black;
  --question-title-border-bottom: #5a5a5a;
  --question-answer-color: rgb(70, 70, 70);
  --question-fas-background-color: #eceef0;
  --question-fas-color: #838383;
  --question-fas-hover-background-color: #ebebeb;
  --question-fas-hover-color: #545454;
  --question-answer-a-color: #3378e1;
  --question-answer-a-hover-color: #93b2df;
  --question-title-h1-color: black;
  --searchbar-search-input-background-color: #fff;
  --searchbar-search-input-hover-background-color: #f3f3f3;
  --searchbar-result-item-color: rgb(70, 70, 70);
  --searchbar-search-input-color: #1a1a1a;
  --footer-background-color: #ededed;
  --footer-color: black;
  --footer-link-color: #3378e1;
  --tech-carrousel-background-color: #fff;
  --tech-carrousel-border-bottom: #c5c5c5;
  --tech-carrousel-container-background-left: rgb(255, 255, 255);
  --tech-carrousel-container-background-right: rgba(255, 255, 255, 0);
  --tech-carrousel-scroll-button-color: #8d8d8dae;
  --tech-carrousel-scroll-button-hover-background-color: #e9eaeeae;
  --image-item-image-container-background-color: #f4f4f4;
  --image-item-description-color: black;
  --image-item-selected-background-color: rgba(135, 193, 255, 0.242);
  --image-modal-background-color: #fff;
  --image-modal-close-background-color: #fff;
  --image-modal-close-hover-background-color: #e4e4e4;
  --image-modal-title-color: black;
  --image-modal-description-color: black;
  --image-modal-button-share-save-color: rgb(0, 0, 0);
  --image-modal-button-share-save-background-color: rgb(194, 213, 255);
  --image-modal-button-share-save-hover-background-color: rgb(220, 231, 255);
  --image-modal-category-background-color: #e6e6e6;
  --project-item-project-details-h3-color: #3378e1;
  --project-item-project-description-color: #373737;
  --project-item-project-category-background-color: #e6e6e6;
  --conact-item-contact-details-h3-color: #3378e1;
  --contact-item-contact-description-color: #373737;
  --contact-item-contact-site-color: #909090;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

#app {
  height: 100%;
  width: 100vw;
  display: block;
  max-width: 100%;
  overflow-x: hidden;
}

.question-answer a {
  color: var(--question-answer-a-color);
  transition: color 0.5s ease;
  text-decoration: none;
}

.question-answer a:hover {
  color: var(--question-answer-a-hover-color);
  text-decoration: underline;
}
